*{
  margin:auto;
  padding: auto;
}
.calculator{
  background-color: silver;
  height:48vh;
  width:70vh;
   margin-top: 30px;  
}
.row1{
     background-color:blue;
     padding: 11px;
}
img{
  position:relative;
  left:239px;
}
div h1{
  display: inline-block;
    font-size: 25px;
    position: relative;
    left:5px;
}
#number{
    width: 96%;
    position: relative;
    left:5px;
}
.row3{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content:space-around;
  line-height: 24px;
  flex-basis: 20px;
}
.row4{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-around;
}
.row5{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-around;
}.row6{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-around;
}
.row7{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-around;
}
.row8{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-around;
}
#pos{
    position: relative;
    left: 0px;
  
}
.button{
  flex-basis: 7vh;;
}
#pos1{
  position: relative;
  left:0px;
}